.Rproj.user
.Rhistory
.RData
citations.html
refs.Rmd
grateful-refs.bib
grateful-report.Rmd
grateful-citations.html
test.Rmd
test_nocite.Rmd
docs
peerj.csl
grateful-report.html
CRAN-SUBMISSION
tests/testthat/test-installed_pkgs.R
